.skyblue {
    color: skyblue;
    font-size: 20px;
}

.orange {
    color: orange;
    font-size: 20px;
}

.pink {
    color: rgb(236, 132, 156);
    font-size: 20px;
}

.red {
    color: red;
    font-size: 20px;
}

.mglf {
    margin-left: 10px;
}

.icon {
    margin-left: 10px;
    color: skyblue;
    font-size: 20px;
}



::-webkit-scrollbar {
    width: 2px;
    height: 5px;
    position: absolute;
}